<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<form
		th:fragment="crud-form(action, method, submitType)"
		th:action="${action}"
		th:method="${method}"
		>
		<input type="number" name="id" th:field="*{id}" hidden>
		<label for="name">Name</label>
		<input type="text" name="name" th:field="*{name}"><br>
		
		<label for="description">Description</label>
		<textarea name="description" style="resize: none"  th:field="*{description}"></textarea><br>
		
		<label for="price">Price</label>
		<input type="number" name="price" th:field="*{price}"><br>
		
		<button type="submit" th:text="${submitType}"></button>
	</form>
	
	<form 
		th:fragment="search(obj, action)"
		method="GET" 
		th:action="${action}">
		<label for="query">Name: </label>
		<input type="text" id="query" name="query" th:value="${query}">
		<input type="submit" value="Search">
	</form>
	
	<div
		th:fragment="error()"
		>
		     <h3 th:if="${errors}">Errors: </h3>
    
    <ul>
		<li
    		th:each="error : ${errors}"
    		th:object="${error}"
    		th:text="|*{defaultMessage}|"
    	>
    	</li>
	</ul>
	</div>
</body>
</html>